# AirBnb - feature importance

## Key Steps for the Project
Following the CRISP-DM process.

1. Picking a dataset, as mentioned on the previous page.
2. Proposing at least three questions related to business or real-world applications of how the data could be used.
3. Creating a Jupyter Notebook, using any associated packages to:
    * Prepare data:
    * Gather necessary data to answer your questions
    * Handle categorical and missing data
    * Provide insight into the methods you chose and why you chose them
    * Analyze, Model, and Visualize
    * Provide a clear connection between your business questions and how the data answers them
4. Communicating business insights:
    * Create a Github repository to share your code and data wrangling/modeling techniques, with a technical audience in mind
    * Create a blog post to share your questions and insights with a non-technical audience

## Business Understanding

### Research questions
* Which are the most relevant characteristics of an accomodation related to the availability?
* How is the relation of the tourism appeal of the city and the renting characteristics?
* How does the geographical regions relates to the characteristics of the offered accomodation on AirBnb?

### Data Collection
The data which is used in this project is the AirBnb data from the following cities:
1. AustinAustin, Texas, United States
2. Boston, Massachusetts, United States
3. Chicago, Illinois, United States
4. Los Angeles, California, United States
5. Nashville, Tennessee, United States
6. New Orleans, Louisiana, United States
8. San Francisco, California, United States
9. Seattle, Washington, United States

The data was collected though this [link](http://insideairbnb.com/get-the-data.html).<br>

For each city the data collected are:
1. calendar
    * listing_id
    * date
    * available
    * price

2. listings
    * id
    * listing_url
    * scrape_id
    * last_scraped
    * name
    * summary
    * space
    * description
    * experiences_offered
    * neighborhood_overview
    * notes
    * transit
    * thumbnail_url
    * medium_url
    * picture_url
    * xl_picture_url
    * host_id
    * host_url
    * host_name
    * host_since
    * host_location
    * host_about
    * host_response_time
    * host_response_rate
    * host_acceptance_rate
    * host_is_superhost
    * host_thumbnail_url
    * host_picture_url
    * host_neighbourhood
    * host_listings_count
    * host_total_listings_count
    * host_verifications
    * host_has_profile_pic
    * host_identity_verified
    * street
    * neighbourhood
    * neighbourhood_cleansed
    * neighbourhood_group_cleansed
    * city
    * state
    * zipcode
    * market
    * smart_location
    * country_code
    * country
    * latitude
    * longitude
    * is_location_exact
    * property_type
    * room_type
    * accommodates
    * bathrooms
    * bedrooms
    * beds
    * bed_type
    * amenities
    * square_feet
    * price
    * weekly_price
    * monthly_price
    * security_deposit
    * cleaning_fee
    * guests_included
    * extra_people
    * minimum_nights
    * maximum_nights
    * calendar_updated
    * has_availability
    * availability_30
    * availability_60
    * availability_90
    * availability_365
    * calendar_last_scraped
    * number_of_reviews
    * first_review
    * last_review
    * review_scores_rating
    * review_scores_accuracy
    * review_scores_cleanliness
    * review_scores_checkin
    * review_scores_communication
    * review_scores_location
    * review_scores_value
    * requires_license
    * license
    * jurisdiction_names
    * instant_bookable
    * cancellation_policy
    * require_guest_profile_picture
    * require_guest_phone_verification
    * calculated_host_listings_count
    * reviews_per_month

3. reviews
    * listing_id
    * id
    * date
    * reviewer_id
    * reviewer_name
    * comments

To perform the analysis further information about the cities to be analysed was gathered from [this article](https://finance.yahoo.com/news/30-most-visited-cities-u-145000465.html).<br>

City|Foreign tourists in 2019|US Ranking of most visited cities
--| -- | -- 
Austin, Texas, United States|<200.000|>30
Boston, Massachusetts, United States|1.567.000|9
Chicago, Illinois, United States|1.491.000|10
Los Angeles, California, United States|4.645.000|3
Nashville, Tennessee, United States|<200.000|>30
New Orleans, Louisiana, United States|436.000|23
San Francisco, California, United States|3.308.000|5
Seattle, Washington, United States|844.000|14

The idea is to analyse the influence of the tourism appeal of each city on the AirBnb's customer behavior and on the availabilty rates of the offered accomodations.

## Importing libraries

In [12]:
import pandas as pd
import numpy as np
import gzip
from io import BytesIO
import re

## Toolkit functions

In [119]:
def remove_nonnumeric_chars(s):
    n = re.search('.',s)
    return np.float16(re.sub("[^0-9]", "", s.split('.')[0]))

In [120]:
def create_dummy_df(df, cat_cols, dummy_na):
    '''
    INPUT:
    df - pandas dataframe with categorical variables you want to dummy
    cat_cols - list of strings that are associated with names of the categorical columns
    dummy_na - Bool holding whether you want to dummy NA vals of categorical columns or not
    
    OUTPUT:
    df - a new dataframe that has the following characteristics:
            1. contains all columns that were not specified as categorical
            2. removes all the original columns in cat_cols
            3. dummy columns for each of the categorical columns in cat_cols
            4. if dummy_na is True - it also contains dummy columns for the NaN values
            5. Use a prefix of the column name with an underscore (_) for separating 
    '''
    
    cat_df_out = pd.get_dummies(df[cat_cols], prefix=cat_cols, prefix_sep='_', dummy_na=dummy_na, drop_first=True)
    df_out     = cat_df_out.join(df.drop(cat_cols, axis=1))

    return df_out

## Data Understanding

### Load Data

#### calendar data

##### Load

In [121]:
city = 'seattle'
calendar_path = f'datasets/raw/{city}/calendar.csv.gz'

with gzip.open(calendar_path,'r') as f:
    df_calendar = pd.read_csv(BytesIO(f.read()))

##### Check head

In [122]:
# show head of calendar dataframe
df_calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,210316,2021-12-20,f,$60.00,$60.00,30.0,365.0
1,210316,2021-12-21,f,$60.00,$60.00,30.0,365.0
2,210316,2021-12-22,f,$60.00,$60.00,30.0,365.0
3,210316,2021-12-23,f,$60.00,$60.00,30.0,365.0
4,210316,2021-12-24,f,$60.00,$60.00,30.0,365.0

##### Check types

In [123]:
df_calendar.info(show_counts=True, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1709296 entries, 0 to 1709295
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   listing_id      1709296 non-null  int64
 1   date            1709296 non-null  object
 2   available       1709296 non-null  object
 3   price           1709125 non-null  object
 4   adjusted_price  1709125 non-null  object
 5   minimum_nights  1709292 non-null  float64
 6   maximum_nights  1709292 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 91.3+ MB

##### Check NaN values

In [124]:
columns = df_calendar.columns
for col in columns:
    print(f'{col} : {df_calendar[col].isna().mean()}')

listing_id : 0.0
date : 0.0
available : 0.0
price : 0.00010004118654697607
adjusted_price : 0.00010004118654697607
minimum_nights : 2.3401447145491476e-06
maximum_nights : 2.3401447145491476e-06

Since there are proportionally just a few missing values, it is not a big deal to drop those rows

In [125]:
df_calendar.dropna(inplace=True)

##### Checking types

We need to clean the "price" and the "adjusted_price" columns to transform the numeric string into numeric values

In [126]:
# object to numeric transformation
toNumeric_columns =  ['price','adjusted_price']
for col in toNumeric_columns:
    df_calendar[col] = df_calendar[col].apply(remove_nonnumeric_chars)

# str to datetime transformation
df_calendar['date'] = pd.to_datetime(df_calendar['date'])

##### Categorical Variables

In [127]:
cat_cols_lst = ['available']
df_calendar = create_dummy_df(df_calendar, cat_cols_lst, dummy_na=False)

In [128]:
print(df_calendar.columns)

Index(['available_t', 'listing_id', 'date', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [134]:
df_calendar_agg = df_calendar.groupby('listing_id').agg({'date':['min','max'],
                                                        'price':['min', 'max', 'mean'], 
                                                        'adjusted_price':['min', 'max', 'mean'], 
                                                        'minimum_nights':['min','max','mean'], 
                                                        'maximum_nights':['min','max'],
                                                        'available_t':'sum'
                                                        })

In [135]:
df_calendar_agg.columns.get_level_values(0)

Index(['date', 'date', 'price', 'price', 'price', 'adjusted_price',
       'adjusted_price', 'adjusted_price', 'minimum_nights', 'minimum_nights',
       'minimum_nights', 'maximum_nights', 'maximum_nights', 'available_t'],
      dtype='object')

Renaming aggregated columns

In [136]:
# concat agg column names
col_names = []
for cols in df_calendar_agg.columns:
    new_col = '_'.join(cols)
    col_names.append(new_col)


# rename columns
df_calendar_agg.columns = col_names

df_calendar_agg.head()

,date_min,date_max,price_min,price_max,price_mean,adjusted_price_min,adjusted_price_max,adjusted_price_mean,minimum_nights_min,minimum_nights_max,minimum_nights_mean,maximum_nights_min,maximum_nights_max,available_t_sum
listing_id,,,,,,,,,,,,,,
2318,2021-12-20,2022-12-19,296.0,495.0,410.7500,296.0,495.0,410.7500,7.0,30.0,9.016438,1125.0,1125.0,332.0
6606,2021-12-20,2022-12-19,99.0,110.0,106.5000,99.0,110.0,106.5000,3.0,3.0,3.000000,1125.0,1125.0,0.0
9419,2021-12-21,2022-12-20,75.0,75.0,75.0000,75.0,75.0,75.0000,2.0,2.0,2.000000,180.0,180.0,365.0
9531,2021-12-20,2022-12-19,165.0,185.0,178.6250,165.0,185.0,178.6250,2.0,2.0,2.000000,1125.0,1125.0,269.0
9534,2021-12-20,2022-12-19,125.0,145.0,125.6875,125.0,145.0,125.6875,5.0,5.0,5.000000,1125.0,1125.0,202.0

##### Feature engineering

In [138]:
# number of days online
df_calendar_agg['online_days'] = (df_calendar_agg['date_max']-df_calendar_agg['date_min']).apply(lambda x: x.days)+1
# occupied days
df_calendar_agg['ocupied_days'] = df_calendar_agg['online_days'] - df_calendar_agg['available_t_sum']
# total revenue generated by the allocation
df_calendar_agg['revenue'] = df_calendar_agg['ocupied_days'] * df_calendar_agg['price_mean']
# ocupation rate
df_calendar_agg['ocupation_rate'] = df_calendar_agg['ocupied_days'] / df_calendar_agg['online_days']

In [139]:
df_calendar_agg.head()

,date_min,date_max,price_min,price_max,price_mean,adjusted_price_min,adjusted_price_max,adjusted_price_mean,minimum_nights_min,minimum_nights_max,minimum_nights_mean,maximum_nights_min,maximum_nights_max,available_t_sum,online_days,ocupied_days,revenue,ocupation_rate
listing_id,,,,,,,,,,,,,,,,,,
2318,2021-12-20,2022-12-19,296.0,495.0,410.7500,296.0,495.0,410.7500,7.0,30.0,9.016438,1125.0,1125.0,332.0,365,33.0,13554.7500,0.090411
6606,2021-12-20,2022-12-19,99.0,110.0,106.5000,99.0,110.0,106.5000,3.0,3.0,3.000000,1125.0,1125.0,0.0,365,365.0,38872.5000,1.000000
9419,2021-12-21,2022-12-20,75.0,75.0,75.0000,75.0,75.0,75.0000,2.0,2.0,2.000000,180.0,180.0,365.0,365,0.0,0.0000,0.000000
9531,2021-12-20,2022-12-19,165.0,185.0,178.6250,165.0,185.0,178.6250,2.0,2.0,2.000000,1125.0,1125.0,269.0,365,96.0,17148.0000,0.263014
9534,2021-12-20,2022-12-19,125.0,145.0,125.6875,125.0,145.0,125.6875,5.0,5.0,5.000000,1125.0,1125.0,202.0,365,163.0,20487.0625,0.446575

In [96]:
df_calendar['price']

0          6000.0
1          6000.0
2          6000.0
3          6000.0
4          6000.0
            ...
1709291    3200.0
1709292    3200.0
1709293    3200.0
1709294    3200.0
1709295    3200.0
Name: price, Length: 1709121, dtype: float16

In [55]:
df_calendar_agg.rename(columns=col_names).head()

                  date                price                   adjusted_price  \
                   min         max      min      max     mean            min
listing_id
2318        2021-12-20  2022-12-19  29600.0  49504.0  41088.0        29600.0
6606        2021-12-20  2022-12-19   9904.0  11000.0  10648.0         9904.0
9419        2021-12-21  2022-12-20   7500.0   7500.0   7500.0         7500.0
9531        2021-12-20  2022-12-19  16496.0  18496.0  17872.0        16496.0
9534        2021-12-20  2022-12-19  12496.0  14496.0  12560.0        12496.0

                             minimum_nights       maximum_nights          \
                max     mean            min   max            min     max
listing_id
2318        49504.0  41088.0            7.0  30.0         1125.0  1125.0
6606        11000.0  10648.0            3.0   3.0         1125.0  1125.0
9419         7500.0   7500.0            2.0   2.0          180.0   180.0
9531        18496.0  17872.0            2.0   2.0         1125.0  1125.0
9534        14496.0  12560.0            5.0   5.0         1125.0  1125.0

           available_t
                   sum
listing_id
2318             332.0
6606               0.0
9419             365.0
9531             269.0
9534             202.0

## Data Preparation

## Modelling